.pricing-section {
	padding: 10vh 10%;
	width: 100%;
}

.pricing-header {
	margin-bottom: 40px;
}

.pricing-title {
	font-size: 54px;
	font-weight: 700;
	color: var(--text-primary);
	margin-bottom: 16px;
}

.pricing-intro,
.contact-incentive {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.pricing-intro p,
.contact-incentive p {
	font-family: var(--font-dm-sans);
	font-size: 16px;
	line-height: 26px;
	color: var(--text-primary);
}
.contact-incentive {
	flex-direction: row;
	align-items: center;
	gap: 100px;
	width: 100%;justify-content: space-between;
}

.price-cards {
	display: flex;
	justify-content: space-around;
	gap: 20px;
	margin-bottom: 40px;
}

.price-card {
	width: clamp(350px, 500px, 100%);
	height: clamp(300px, 350px, 400px);
	background-size: cover;
	background-position: center;
	border-radius: 20px 75px 20px 75px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 30px 20px;
	color: var(--white);
	overflow: hidden;
	background-size: 100%;
	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.price-card:hover {
	transform: translateY(-20px);
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
	background-size: 120%;
	cursor: default;
}

.price-card-period {
	font-family: var(--font-dm-sans);
	font-size: 24px;
	text-align: center;
}

.price-card-amount {
	font-family: var(--font-dm-sans);
	font-size: 64px;
	font-weight: 700;
}

.price-card-footer {
	width: 100%;
}

.price-card-desc {
	font-family: var(--font-dm-sans);
	font-size: 16px;
	text-align: center;
	line-height: 26px;
}

.additional-charges {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.charge-title {
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 10px;
}

.charge-text {
	font-family: var(--font-dm-sans);
	font-size: 16px;
	line-height: 26px;
}

.charge-list {
	list-style: disc;
	padding-left: 24px;
	margin-top: 10px;
}

.charge-list li {
	font-family: var(--font-dm-sans);
	font-size: 16px;
	line-height: 26px;
}

@media (max-width: 1024px) {
	.pricing-section {
		padding: 80px 20px;
	}
	.pricing-title {
		font-size: 36px;
	}
	.price-cards {
		flex-direction: column;
		align-items: center;
		gap: 36px;
	}
	.price-card {
		width: 100%;
		max-width: 400px;
	}
	.charge-title {
		font-size: 32px;
	}
	.pricing-btn {
		align-self: center;
	}
	.contact-incentive {
		gap: 50px;
	}
}
@media (max-width: 768px) {
	.contact-incentive {
		flex-direction: column;
		gap: 20px;
	}
}
